
<div class="text-center">
    <img src="/img/man.png" class="rounded" >
    <h4>Username: Mimocho </h4>
    <h4>E-Mail: m_v_iliev@abv.bg</h4>
</div>
<div>
    <h3>Shoe offers made: 5</h3>
    <h3>Favourites shoes: 24</h3>
    <h3>Purchases made: 2</h3>
</div>
