@using Microsoft.AspNetCore.Identity
@using FootShopSystem.Services.Designers;
@using FootShopSystem.Infrastructures;
@using FootShopSystem.Data.Models;
@using static FootShopSystem.WebConstants;

@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject IDesignerService Designers

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {

        var userId = User.Id();
        var userIsDesigner = Designers.IsDesigner(userId);

       

        if (userIsDesigner)
        {
            <li class="nav-item">
                <a class="nav-link text-dark m-2" asp-controller="Shoes" asp-action="Add">Add Shoe</a>
            </li>
            <li class="nav-item">
                <a class="nav-link text-dark m-2" asp-area="" asp-controller="Shoes" asp-action="MyShoes">My Shoes</a>
            </li>
        }
        else
        {
            if (!User.IsInRole(AdministratorRoleName))
            {
                <li class="nav-item">
                    <a class="nav-link text-dark m-2" asp-area="" asp-controller="Designer" asp-action="Become">Become Designer</a>
                </li>
            }
        }
         <li class="nav-item">
            <a class="nav-link text-dark m-2" asp-controller="Profile" asp-action="AccountPage">Profile</a>
        </li>

        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark m-2">Logout</button>
            </form>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
